<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.myapplication">

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".global.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".module.panda_Broad.Activity.BroadDetailsActivity" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".module.person.PersonActivity" />
        <activity android:name=".module.person.activity.Setting" />
        <activity android:name=".module.person.setting.User_Tickling" />
        <activity android:name=".module.person.setting.About_Panda" />
        <activity android:name=".module.person.activity.Login" />
        <activity android:name=".module.person.activity.HistoricalRecord" />
        <activity android:name=".module.person.activity.Register" />
        <activity android:name=".module.person.activity.Forget" />
        <activity android:name=".module.interact.Share_it_Activity" />
        <activity android:name=".module.interact.Share_it_item_Activity" />
        <activity android:name=".module.person.activity.Collect" />
        <activity android:name=".module.LiveChina.LiveChinaAddActivity" />


        <activity
            android:name=".module.home.jiecao.Lunbo_Viod"
            android:configChanges="orientation"
            android:screenOrientation="landscape">


        </activity>
        <activity android:name=".module.home.JiecaoViod"
            android:screenOrientation="landscape"
            />
        <activity android:name=".module.home.jiecao.BobaoTwo">

        </activity>
        <activity
            android:name=".module.home.jiecao.Jincai_Viod"
            android:configChanges="orientation"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".module.home.jiecao.GunGun_Viod"
            android:configChanges="orientation"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".module.home.jiecao.China_Viod"
            android:configChanges="orientation"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".module.home.jiecao.JiecaoViod"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".module.home.jiecao.XiuGang_Viod"
            android:configChanges="orientation"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name=".module.panda_Broad.Activity.BroadDetail_TopActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5972f46d1c5dd06c64000109">

        </meta-data>
        <activity
            android:name=".module.cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            -
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            -
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 集成line客户端登录授权，需要添如下格式的过滤器 -->
            -
            <intent-filter>
                <data android:scheme="line.1477692153" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="1f9584a7b5107" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="107003d745ee932daf96ef306a1c4fd8" />


        <!--<activity android:name=".module.person.activity.Collect"/>-->
        <!--<activity-->
            <!--android:name="com.umeng.qq.tencent.AssistActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->


        <activity android:name=".module.person.activity.MyInformation" />
        <activity android:name=".module.person.activity.UpDataName"></activity>

    </application>

</manifest>